
<div class="card">
  <form action="">
  <div class="container" id="con1">
      <br>
      <br>
      
       <div class="row">
          <div class="col-4 offset-2">
              
                  <h1 class="outfit">listing information :</h1>
                  <br>
                  <div class="form-group mt-3" >

                  <label for="uni" class="outfit form-label"><h4>University or campus nearby:</h4></label>
                  <select [(ngModel)]="university"  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="university" >
                    <option value="ISTIC">ISTIC</option>
                    <option value="ENSTAB">ENSTAB</option>
                    <option value="TBS">TBS</option>
                  </select>

                  <label for="property" class="outfit form-label"><h4>Property type:</h4></label>
                  <select [(ngModel)]="property" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="property" >
                    <option value="House">House</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Condo">Condo</option>
                    <option value="Villa">Villa</option>
                  </select>   
                               
                  
                 </div>
                 
                 <div class="form-group mt-3">
                  <label for="monthly" class="form-label outfit"><h4>Monthly rent</h4></label>
                  <input type="number" min="0" max="2000" class="form-control form-control-lg" id="monthly" [(ngModel)]="monthly_rent"   name="monthly_rent" placeholder="TND" required>
                </div>
                <div class="form-group mt-3">
                  <label for="deposit" class="form-label outfit"><h4>Security deposit</h4></label>
                  <input type="number" min="0" max="2000" class="form-control form-control-lg" id="deposit" [(ngModel)]="security_deposit"  name="security_deposit" placeholder="TND" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="offset-2 col-3 ">
                <div class="form-group mt-3">
                  <label for="bedrooms" class="form-label outfit"><h4>Bedrooms</h4></label>
                  <input type="number" max="10" min="0" class="form-control form-control-lg" id="bedrooms" name="bedrooms" [(ngModel)]="bedrooms" required>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col col-3 offset-2 mt-3">
                <h4 class="outfit">Gender</h4>
              </div>
            </div>
            <div class="form-check form-check-inline offset-2">
              <input class="form-check-input" type="radio" id="female" value="Female" name="gender" [(ngModel)]="gender">
              <label class="form-check-label" for="female">female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="male" value="Male" name="gender" [(ngModel)]="gender">
              <label class="form-check-label" for="male">male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="both" value="Both" name="gender" [(ngModel)]="gender">
              <label class="form-check-label" for="both">both</label>
            </div>
            
        
        <div class="row">
          <div class="col-4 offset-2">
              
                <div class="form-group mt-3">
                  <label for="available" class="form-label outfit"><h4>date available</h4></label>
                  <input type="date" class="form-control form-control-lg" id="available"  name="date_available" [(ngModel)]="date_available"required>
                </div>
                <div class="form-group mt-5">
                  <label for="location" class="form-label outfit"><h4>location</h4></label>
                  <input type="link" class="form-control form-control-lg" id="deposit" name="location" [(ngModel)]="location" required>
                </div>
              </div>
          
      </div>
      <div class="row">
        <div class="col col-3 offset-2 mt-3">
      <h4 class="outfit">Amenities</h4>
      </div>
    </div>
      
    <div class="form-check offset-2">
      <input class="form-check-input" type="checkbox" id="op1" [(ngModel)]="isCheckedAC" (change)="updateValueAC()">
      <label class="form-check-label outfit" for="op1">
        A/C
      </label>
    </div>
    
      <div class="form-check offset-2">
          <input class="form-check-input" type="checkbox"  id="op2" [(ngModel)]="isCheckedf" (change)="updateValuef()">
          <label class="form-check-label outfit" for="op2">
            Furnished
          </label>
          </div>
          <div class="form-check offset-2">
          <input class="form-check-input" type="checkbox"  id="op3" [(ngModel)]="isCheckedb" (change)="updateValueb()">
          <label class="form-check-label outfit" for="op3">
            Balcony or deck
          </label>
          </div>
          <div class="form-check offset-2">
          <input class="form-check-input" type="checkbox"  id="op4"  [(ngModel)]="isCheckedw" (change)="updateValuew()">
          <label class="form-check-label outfit" for="op4">
            Wifi
          </label>
         </div>
         <div class="form-check offset-2">
          <input class="form-check-input" type="checkbox"  id="op5" [(ngModel)]="isCheckede" (change)="updateValuee()">
          <label class="form-check-label outfit" for="op5">
            water and electricity included
          </label>
          
      </div>
      <br>
      
     

       <div class="row">
        <div class="col-4 offset-2">
      <label for="file" class="labelFile"
      ><span
        ><svg
          xml:space="preserve"
          viewBox="0 0 184.69 184.69"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          id="Capa_1"
          version="1.1"
          width="60px"
          height="60px"
        >
          <g>
            <g>
              <g>
                <path
                  d="M149.968,50.186c-8.017-14.308-23.796-22.515-40.717-19.813
            C102.609,16.43,88.713,7.576,73.087,7.576c-22.117,0-40.112,17.994-40.112,40.115c0,0.913,0.036,1.854,0.118,2.834
            C14.004,54.875,0,72.11,0,91.959c0,23.456,19.082,42.535,42.538,42.535h33.623v-7.025H42.538
            c-19.583,0-35.509-15.929-35.509-35.509c0-17.526,13.084-32.621,30.442-35.105c0.931-0.132,1.768-0.633,2.326-1.392
            c0.555-0.755,0.795-1.704,0.644-2.63c-0.297-1.904-0.447-3.582-0.447-5.139c0-18.249,14.852-33.094,33.094-33.094
            c13.703,0,25.789,8.26,30.803,21.04c0.63,1.621,2.351,2.534,4.058,2.14c15.425-3.568,29.919,3.883,36.604,17.168
            c0.508,1.027,1.503,1.736,2.641,1.897c17.368,2.473,30.481,17.569,30.481,35.112c0,19.58-15.937,35.509-35.52,35.509H97.391
            v7.025h44.761c23.459,0,42.538-19.079,42.538-42.535C184.69,71.545,169.884,53.901,149.968,50.186z"
                  style="fill:#010002;"
                ></path>
              </g>
              <g>
                <path
                  d="M108.586,90.201c1.406-1.403,1.406-3.672,0-5.075L88.541,65.078
            c-0.701-0.698-1.614-1.045-2.534-1.045l-0.064,0.011c-0.018,0-0.036-0.011-0.054-0.011c-0.931,0-1.85,0.361-2.534,1.045
            L63.31,85.127c-1.403,1.403-1.403,3.672,0,5.075c1.403,1.406,3.672,1.406,5.075,0L82.296,76.29v97.227
            c0,1.99,1.603,3.597,3.593,3.597c1.979,0,3.59-1.607,3.59-3.597V76.165l14.033,14.036
            C104.91,91.608,107.183,91.608,108.586,90.201z"
                  style="fill:#010002;"
                ></path>
              </g>
            </g>
          </g></svg></span>
      <p>drag and drop your photo here or click to select a photo!</p></label
    >
    <input class="input" name="text" id="file" type="file" [(ngModel)]="photo1" />
    
      </div>
    </div> 

     <br>

    <div class="row">
        <div class="col-4 offset-2">
          <h4 class="outfit mt-3">Notes(optional)</h4>
          <textarea cols="30" rows="10" mt-3 class=" form-control" name="note" placeholder="enter additional information" [(ngModel)]="note"></textarea>
        </div>
      
  </div>
   
      <div class="row">
        <div class="offset-6 col-5 mt-5">
         <a routerLink=".."> <input type="submit" (click)="saveRecords()" class="btn btn-info btn-lg btn-blocck rounded-pill" value="publish listing" id="button">
         </a>
          <br>
        </div>
    </div>
      


      
  </div>
  
  
  </form>
</div>   