
    
        <div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg" alt="profile card">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">Muhammed Erdem</div>
            <div class="row">
              <div class="col-lg-3 profile-card-inf__item">
                <span class="profile-card-inf__icon">
                  <i class="fas fa-venus-mars"></i>
                </span>
                <div class="profile-card-inf__txt">Your Gender</div>
              </div>
              <div class="col-lg-3 profile-card-inf__item">
                <span class="profile-card-inf__icon">
                  <i class="fas fa-city"></i>
                </span>
                <div class="profile-card-inf__txt">Your City</div>
              </div>
              <div class="col-lg-3 profile-card-inf__item">
                <span class="profile-card-inf__icon">
                  <i class="fas fa-university"></i>
                </span>
                <div class="profile-card-inf__txt">Your University</div>
              </div>
              <div class="col-lg-3 profile-card-inf__item">
                <span class="profile-card-inf__icon">
                  <i class="fas fa-graduation-cap"></i>
                </span>
                <div class="profile-card-inf__txt">{{item.study_level}}</div>
              </div>
            </div>
            <div class="profile-card__txt card-p">{{item.note}} </div>
           
            </div>
            <div class="row">
              <div class="offset-1 offset-sm-2 col-3">
                <a href="facebook_link">
                  <img src="assets/img/facebook.png" alt="Facebook" class="social-media-icon rounded-circle img-thumbnail">
                </a>
              </div>
              <div class="offset-sm-0 offset-1 col-3 img-container">
                <img src="assets/img/phone.png" alt="Phone" class="social-media-icon rounded-circle img-thumbnail">
                <div class="row">
                <div class=" phone-number" style="margin-left : -0.6cm ;">phoneNumber</div>
              </div>
            </div>
              <div class="offset-sm-0 offset-1 col-3">
                <a href="instagram_link">
                  <img src="assets/img/instagram.webp" alt="Instagram" class="social-media-icon rounded-circle img-thumbnail">
                </a>
              </div>
             
            </div>
            <div class="row">
              <span style="color: transparent;">.</span>
            </div>
          </div>
      
         
