<!--city and uni filters-->
<div class="row mt-3" style="margin-left:0.3cm ">
    
    <!--university filter-->
<div class="col-lg-5 offset-1 offset-md-0 col-4">
    <div class="col d-none d-sm-inline"><!--appear all at large-->
        <div style="width: 100%; height: 100%; background: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
            <div class="input-group">
                <span class="input-group-text"  style="background-color: #E9E9ED; border-color: #E9E9ED;">
                    <i class="fas fa-university"></i>
                </span>
                <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.5cm; width: 75%;"  appearance="outline" >
                  <mat-label style="color: black;" >University</mat-label>
                  <mat-select [(ngModel)]="selectedUni" >
                    <mat-option>None</mat-option>
                    <mat-option value="option1">uni1</mat-option>
                    <mat-option value="option2">uni2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
        </div>
    </div>
        <div class="col d-sm-none"><!--appear only icon at small-->
          <div ngbDropdown class="btn-group" #dropdown1="ngbDropdown">
            <span class="input-group-text" style="background-color: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px;">
              <i class="fas fa-university"></i>
              <button style="background-color: #E9E9ED; border-color: transparent;" id="dropdownBasic1" ngbDropdownToggle (click)="dropdown1.open()">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #E9E9ED; ">
              <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.5cm; width: 75%;"  appearance="outline" >
                <mat-label style="color: black;" >University</mat-label>
                <mat-select [(ngModel)]="selectedUni" >
                  <mat-option>None</mat-option>
                  <mat-option value="option1">uni1</mat-option>
                  <mat-option value="option2">uni2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
            </div>
        </div>

        </div>
        <div class="row mt-3" style="margin-left:0.3cm ">
            <!--price filter-->
    <div class="col-lg-2  col-1">
        <div class="col  d-none d-lg-inline"><!--appear all at large-->
    <div class="filters" style="  width: 100%; height: 100%; background: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
        <div class="input-group">
            <span class="input-group-text "style="background-color: #E9E9ED; border-color: #E9E9ED;"><i style="margin-top: 0.2cm;" class="fas  fa-usd"></i></span> <!-- Gender icon -->
            <div ngbDropdown class="btn-group" #dropdown9="ngbDropdown">
              <span class="input-group-text" style="margin-top: 0.2cm; border-color: transparent; background-color: #E9E9ED; cursor: pointer ; " id="dropdownBasic1" ngbDropdownToggle (click)="dropdown9.open()">
                TND
                <span class="visually-hidden">Toggle Dropdown</span>
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #E9E9ED; width: 5cm;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
                <div class="row">
                  <div class="col-2 offset-1">
                <label class="example-value-label">{{mins.value}} TND</label>
              </div>
              <div class="col-2 offset-5">
                <label class="example-value-label">{{maxs.value}} TND</label>
              </div>
              </div>
                <mat-slider style="margin-left: 1cm;" color="primary" discrete min="{{min}}" max="{{max}}" step="10">
                    <input  matSliderStartThumb #mins>
                    <input  matSliderEndThumb #maxs>
                </mat-slider>
            </div>
            </div>
            
          </div>
        </div>
    </div>
    <div class="col d-lg-none"><!--appear only icon at small-->
          <div ngbDropdown class="btn-group" #dropdown2="ngbDropdown">
            <span class="input-group-text" style="background-color: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px;">
              <i class="fas fa-usd"></i>
              <button style="background-color: #E9E9ED; border-color: transparent;" id="dropdownBasic1" ngbDropdownToggle (click)="dropdown2.open()">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
            </span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #E9E9ED; width: 5cm;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
              <div class="row">
                <div class="col-2 offset-1">
              <label class="example-value-label">{{mins1.value}} TND</label>
            </div>
            <div class="col-2 offset-5">
              <label class="example-value-label">{{maxs1.value}} TND</label>
            </div>
            </div>
              <mat-slider style="margin-left: 1cm;" color="primary" discrete min="{{min}}" max="{{max}}" step="10">
                  <input  matSliderStartThumb [(ngModel)]="mins.value" #mins1>
                  <input  matSliderEndThumb [(ngModel)]="maxs.value" #maxs1>
              </mat-slider>
          </div>
          </div>
        </div>
        </div>
        <!--room filter-->
    <div class="col-lg-2 offset-1 offset-md-0 col-1">
        <div class="col  d-none d-lg-inline"><!--appear all at large-->
    <div class="filters" style="  width: 100%; height: 100%; background: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
      <div class="input-group">
        <span class="input-group-text"  style="background-color: #E9E9ED; border-color: #E9E9ED;">
            <i class="fas fa-cube"></i>
        </span>
        <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.4cm; width: 70%;"  appearance="outline" >
          <mat-label style="color: black;" >Rooms</mat-label>
          <mat-select [(ngModel)]="selectedRoom" >
            <mat-option>None</mat-option>
            <mat-option value="option1">1</mat-option>
            <mat-option value="option2">2</mat-option>
            <mat-option value="option3">3</mat-option>
            <mat-option value="option3">4</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
        </div>
    </div>
    <div class="col d-lg-none"><!--appear only icon at small-->
        <div ngbDropdown class="btn-group" #dropdown3="ngbDropdown">
          <span class="input-group-text" style="background-color: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px;">
            <i class="fas fa-cube"></i>
            <button style="background-color: #E9E9ED; border-color: transparent;" id="dropdownBasic1" ngbDropdownToggle (click)="dropdown3.open()">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
          </span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #E9E9ED; width: 5cm;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
            <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.4cm; width: 75%;"  appearance="outline" >
              <mat-label style="color: black;" >Rooms</mat-label>
              <mat-select [(ngModel)]="selectedRoom" >
                <mat-option>None</mat-option>
                <mat-option value="option1">1</mat-option>
                <mat-option value="option2">2</mat-option>
                <mat-option value="option3">3</mat-option>
                <mat-option value="option3">4</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        </div>
        </div>
        </div>
        
            
            <!--property type filter-->
            <div class="col-lg-2 offset-1 offset-md-0 col-1">
              <div class="col  d-none d-lg-inline"><!--appear all at large-->
          <div class="filters" style="  width: 100%; height: 100%; background: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px">
            <div class="input-group">
              <span class="input-group-text"  style="background-color: #E9E9ED; border-color: #E9E9ED;">
                  <i class="fas fa-building"></i>
              </span>
              <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.4cm; width: 67%;"  appearance="outline" >
                <mat-label style="color: black;" >Property Type</mat-label>
                <mat-select [(ngModel)]="selectedType" >
                  <mat-option>None</mat-option>
                  <mat-option value="option1">op1</mat-option>
                  <mat-option value="option2">op2</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
              </div>
          </div>
          <div class="col d-lg-none"><!--appear only icon at small-->
            <div ngbDropdown class="btn-group" #dropdown6="ngbDropdown">
              <span class="input-group-text" style="background-color: #E9E9ED; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 13.59px;">
                <i class="fas fa-building"></i>
                <button style="background-color: #E9E9ED; border-color: transparent;" id="dropdownBasic1" ngbDropdownToggle (click)="dropdown6.open()">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
              </span>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #E9E9ED; ">
                <mat-form-field style=" margin-top: 0.2cm; margin-bottom: -0.5cm; width: 75%;"  appearance="outline" >
                  <mat-label style="color: black;" >Property Type</mat-label>
                    <mat-select [(ngModel)]="selectedType" >
                      <mat-option>None</mat-option>
                      <mat-option value="option1">op1</mat-option>
                      <mat-option value="option2">op2</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>
              </div>
              </div>
            
            <div class="col-2  col d-none d-lg-inline"><button style="margin-top: 0.35cm;" class=" button">
              <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"></path></svg>
            </button></div> <!--appear search word at large-->
            <div class="col-2 offset-sm-0 col d-lg-none"><button class="search button">
              <span>
                <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z"></path></svg>
              </span>
            </button></div> <!--appear search icon at small-->

</div>
