<div class="tp-wrapper">
    <div class="tp-box" [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
            <div class="button-container">
                <button type="button" class="dismiss" routerLink="..">×</button>
            </div>
  
            <div class="user-picture">
                <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                </svg>
            </div>
            <p class="name-client"> Nermine Ben ali
                <span>Student</span>
            </p>
            <div class="name-client">I am interested in this rental and would like to schedule<br/> a viewing. <br/>Please let me know when this would be possible.</div>
            <br>
            <div class="button-container">
                <input type="submit" value="see the property" class="submit-button btn btn-lg" (click)="toggleFlip()">
            </div>
        </div>
        <div class="tp-box__side tp-box__back card">
            <div class="button-containe"(click)="toggleFlip()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="custom-arrow" >
                  <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg>
              </div>
              
              
              
            <div class="card-image"></div>
            <div class="category"> S+2 </div>
            <p class="fun"><span style="color: #FF5A3C" >500TND/Mo</span></p>
            
            <div class="button-contain">
                <button class="accept-button">Accept</button>
                <button class="deny-button">Deny</button>
            </div>
         
        </div>
    </div>
</div>
